<template lang="pug">
  v-layout(column justify-center align-center)
    v-divider
    client-only(placeholder="Loading")
      v-card(
        class="mx-auto"
        max-width="600"
      )
        v-card-title Record progression (by day) for {{ map }}
        v-card-text
          time-chart(v-if="times.length > 0" :dataset="times" :labels="labels")
        v-card-text
          div(class="display-1 font-weight-thin") WR: {{ wr }} seconds
        v-divider
        v-card-text
          div(class="subtitle-1") Total Runs: {{ totalRecords }}
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator';
import TimeChart from '@/components/TimeChart.vue';

@Component({
  components: {
    TimeChart
  }
})
export default class MapAnalyticPage extends Vue {
  labels: string[] = [];
  map: string = '';
  times: any[] = [];
  wr: number = -1;
  totalRecords: number = 0;

  mounted() {
    const map = this.$route.params.map;
    if (!map) return;

    this.loadMapStats(map);
    this.loadMapInfo(map);
  }

  async loadMapStats(map: string) {
    const url = `/api/stats/map/${map}`;

    const response = await this.$axios.$get(url);
    this.map = response.map;
    // this.times = Object.values(response.progression).map(
    //   (millis) => Number(millis) / 1000.0
    // );
    const timeSeconds = Object.values(response.progression).map(
      (millis) => Number(millis) / 1000.0
    );
    this.times.push({
      label: this.map,
      backgroundColor: '#00ff00',
      data: timeSeconds
    });
    this.labels = Object.keys(response.progression);
    this.wr = Math.min(...timeSeconds);
  }

  async loadMapInfo(map: string) {
    const url = `/api/maps/${map}`;

    const response = await this.$axios.$get(url);
    this.totalRecords = response.replay_count;
  }
}
</script>
