<template lang="pug">
  v-layout(column justify-center align-center)
    h1 Choose a map to view analytics for
    v-row
      v-text-field(
        clearable
        v-model="search"
        label="Filter"
        placeholder="Filter maps"
      )
    v-row
      v-card(
        width="350"
        class="ma-3 mx-auto"
        v-for="map in filteredMaps"
        :key="map.name"
      )
        v-card-title {{ map.name }}
        v-card-actions
          span {{ map.replay_count }} runs
          v-spacer
          v-btn(text :to="`/analytics/map/${map.name}`") Info
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator';

@Component
export default class AnalyticMapPage extends Vue {
  maps = [];
  search = '';

  async mounted() {
    this.maps = await this.$axios.$get('/api/maps');
  }

  get filteredMaps() {
    return this.maps.filter((map: any) =>
      map.name.includes(this.search.toLowerCase())
    );
  }
}
</script>
