<template lang="pug">
  div main analytic page
    v-btn(to="/analytics/map") Maps
    v-btn(to="/analytics/player") Players
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator';

@Component
export default class AnalyticsPage extends Vue {}
</script>
