<template lang="pug">
  div
    v-divider
    replay-viewer
</template>

<script lang="ts">
import { Vue, Component } from 'nuxt-property-decorator';
import ReplayViewer from '@/components/ReplayViewer.vue';

@Component({
  components: {
    ReplayViewer
  }
})
export default class ReplayPage extends Vue {
  id: number = 1;
}
</script>
