<template lang="pug">
  v-layout(column justify-center align-center)
    h1 Records
    v-divider
    v-row
      v-col(cols="12" sm="6")
        v-combobox(
          v-model="selectedMap"
          :items="maps"
          label="Filter a map"
          @change="onMapFilterChange"
          clearable
        )
      v-col(cols="12" sm="6")
        v-combobox(
          v-model="selectedModes"
          :items="modes"
          label="Filter modes"
          multiple
          @change="loadRecords"
        )
    v-data-table(
      :headers="headers"
      :items="records"
      :loading="loading"
      :server-items-length="totalRecords"
      :options.sync="options"
      disable-sort
    )
      template(v-slot:item.steam_id64="{ item }")
        v-btn(text) {{ item.player_name }}
      template(v-slot:item.created="{ item }")
        span {{ $dateFns.formatRelative($dateFns.parseISO(item.created), new Date()) }}
      template(v-slot:item.action="{ item }")
        v-btn(text color="primary" :to="`/replays/${item.id}`") Watch
      template(v-slot:item.time="{ item }")
        span {{ formatTime(item.time) }}
</template>

<script lang="ts">
import { Vue, Component, Watch } from 'nuxt-property-decorator';

@Component
export default class RecordsPage extends Vue {
  headers = [
    { text: 'ID', value: 'id' },
    { text: 'Player', value: 'steam_id64' },
    { text: 'Map', value: 'map' },
    { text: 'Mode', value: 'mode' },
    { text: 'Course', value: 'course' },
    { text: 'Time', value: 'time' },
    { text: 'Teleports', value: 'teleports' },
    { text: 'Created', value: 'created' },
    { text: 'Action', value: 'action' }
  ];

  records = [];
  loading: boolean = false;
  totalRecords: number = 0;
  options: any = {};

  // Map filters
  maps: string[] = [];
  selectedMap = '';

  // Mode filters
  modes: string[] = ['KZTimer', 'SimpleKZ', 'Vanilla'];
  selectedModes: string[] = ['KZTimer', 'SimpleKZ', 'Vanilla'];

  mounted() {
    this.loadMapList();
    this.loadRecords();
  }

  async loadMapList() {
    const result = await this.$axios.$get('/api/maps');
    this.maps = result.map((m) => m.name);
  }

  async loadRecords() {
    this.loading = true;

    const { page, itemsPerPage } = this.options;

    const params = new URLSearchParams();
    params.set('offset', (page - 1) * itemsPerPage + '');
    params.set('limit', itemsPerPage + '');
    params.set('map', this.selectedMap);
    this.selectedModes.forEach((mode) => params.append('mode', mode));
    const result = await this.$axios.$get('/api/records', {
      params
    });

    this.records = result.records;
    this.totalRecords = result.total;
    this.loading = false;
  }

  @Watch('options')
  onOptionsChange() {
    this.loadRecords();
  }

  onMapFilterChange() {
    // Ignore non existing map in the list
    if (
      this.selectedMap &&
      this.selectedMap !== '' &&
      !this.maps.includes(this.selectedMap)
    )
      return;
    this.loadRecords();
  }

  formatTime(millis: number) {
    const date = new Date(millis);
    const hours = date.getUTCHours();
    const minutes = date.getUTCMinutes();
    const seconds = date.getUTCSeconds();
    const milliseconds = date.getUTCMilliseconds();
    const output = `${minutes + hours * 60}:${seconds}.${milliseconds}`;
    return output;
  }
}
</script>
