<template lang="pug">
  v-layout(column justify-center align-center)
    h1 Stats for {{ name }}
    v-divider
    v-card(v-if="selectedMap")
      v-card-title Analysis for {{ selectedMap }}
      v-card-text
        reactive-time-chart(:chart-data="chartData")
    v-divider
    v-data-table(
      :items="mapFinishes"
      :headers="headers"
      hide-default-footer
    )
      template(v-slot:item.id="{ item }")
        v-btn(rounded color="primary" @click="analyzeMap(item.name)") Stats
      template(v-slot:item.last_played="{ item }")
        span {{ $dateFns.formatRelative($dateFns.parseISO(item.last_played), new Date()) }}
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator';
import ReactiveTimeChart from '@/components/ReactiveTimeChart.vue';

@Component({
  components: {
    ReactiveTimeChart
  }
})
export default class PlayerStatsPage extends Vue {
  steamId64: string = '';
  name: string = '';
  mapFinishes: any[] = [];
  totalRecords: number = -1;

  selectedMap: string = '';
  times: any[] = [];
  labels = [];
  modeColours = {
    KZTimer: '#ff0000',
    SimpleKZ: '#00ff00',
    Vanilla: '#0000ff'
  };

  headers = [
    { text: 'Map', value: 'name' },
    { text: 'Total Runs', value: 'total_records' },
    { text: 'Last Played', value: 'last_played' },
    { text: 'Action', value: 'id' }
  ];
  chartData: any = {};

  async mounted() {
    this.steamId64 = this.$route.params.id;
    if (!this.steamId64) return;

    const url = `/api/stats/player/${this.steamId64}`;
    const response = await this.$axios.$get(url);
    this.name = response.info.name;
    this.totalRecords = response.total_runs;

    this.mapFinishes = response.map_finishes;
  }

  async analyzeMap(map: string) {
    const url = `/api/records?steam_id64=${this.steamId64}&map=${map}`;
    const response = await this.$axios.$get(url);
    this.times = [];
    const sortedRecords = response.records.sort(this.$dateFns.compareAsc);
    for (const mode of ['KZTimer', 'SimpleKZ', 'Vanilla']) {
      this.times.push({
        label: mode,
        backgroundColor: this.modeColours[mode],
        data: sortedRecords
          .filter((rec) => rec.mode === mode)
          .map((rec) => rec.time / 1000.0)
      });
    }
    this.labels = sortedRecords.map((rec) =>
      this.$dateFns.format(this.$dateFns.parseISO(rec.created), 'PP')
    );
    this.selectedMap = map;
    this.chartData = {
      labels: this.labels,
      datasets: this.times
    };
  }
}
</script>
