<template lang="pug">
  v-layout(column justify-center align-center)
    h1 Search for a player for analytics
    v-row
      v-text-field(
        clearable
        v-model="search"
        label="Search"
        placeholder="Search players"
        @keypress.enter="searchPlayers"
      )
        template(v-slot:append)
          v-btn(
            depressed
            tile
            color="primary"
            class="ma-0"
            @click="searchPlayers"
          ) Search

    v-row
      v-cols(
        cols="2"
        v-for="player in players"
        :key="player.name"
        class="mx-auto"
      )
        v-card(
          width="200"
          class="ma-3"
        )
          v-card-title {{ player.name }}
          v-card-text
            div(class="subtitle-1") {{ player.steam_id64 }}
          v-card-actions
            v-spacer
            v-btn(text :to="`/analytics/player/${player.steam_id64}`") Info
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator';

@Component
export default class AnalyticPlayerIndexPage extends Vue {
  search = '';

  players = [];

  mounted() {
    this.searchPlayers();
  }

  async searchPlayers() {
    const url = '/api/players';
    const response = await this.$axios.$get(url, {
      params: {
        name: this.search,
        limit: 50
      }
    });
    this.players = response.slice(0, 20);
  }
}
</script>
