<template lang="pug">
  v-app(dark)
    v-app-bar(fixed app)
      v-toolbar-title Pixel
      v-spacer
      v-toolbar-items
        v-btn(text to="/servers") Servers
        v-btn(text to="/replays") Replays
        v-btn(text to="/analytics/map") Map Stats
        v-btn(text to="/analytics/player") Player Stats
    v-content
      v-container
        nuxt
    v-footer(fixed app)
      span &copy; 2019
</template>

<script lang="ts">
import { Vue, Component } from 'nuxt-property-decorator';

@Component
export default class DefaultLayout extends Vue {}
</script>
