<template lang="pug">
  v-layout(column justify-center align-center)
    span hey
</template>

<script lang="ts">
import { Vue, Component } from 'nuxt-property-decorator';

@Component
export default class IndexPage extends Vue {}
</script>
