<template lang="pug">
  v-layout(column justify-center align-center)
    h1 Servers
    v-divider
    v-data-table(
      :headers="headers"
      :items="servers"
      :loading="loading"
      hide-default-footer
    )
      template(v-slot:item.ip="{ item }")
        span {{ item.ip }}:{{ item.port }}
      template(v-slot:item.players="{ item }")
        span {{ item.players }} / {{ item.max_players }}
      template(v-slot:item.action="{ item }")
        v-btn(text color="primary" :href="`steam://connect/${item.ip}:${item.port}`") Connect
</template>

<script lang="ts">
import { Vue, Component } from 'nuxt-property-decorator';

@Component
export default class ServersPage extends Vue {
  headers = [
    { text: 'Name', value: 'name' },
    { text: 'IP:Port', value: 'ip' },
    { text: 'Map', value: 'map' },
    { text: 'Players', value: 'players' },
    { text: 'Action', value: 'action' }
  ];

  servers = [];
  loading: boolean = false;

  async mounted() {
    this.loading = true;
    this.servers = await this.$axios.$get('/api/servers');
    this.loading = false;
  }
}
</script>
