<template lang="pug">
  v-layout(column justify-center align-center)
    v-container
      h1(v-if="markdown === ''") Loading
      div(v-html="$md.render(markdown)" class="markdown-container")
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator';

@Component
export default class MarkdownPage extends Vue {
  markdown: string = '';

  async mounted() {
    this.markdown = await this.$axios.$get('/data/index.md');
  }
}
</script>

<style lang="scss" scoped>
.markdown-container::v-deep {
  max-width: 800px;
  margin: 0 auto;
  .contains-task-list {
    list-style-type: none;
  }
}
</style>
